# SPDX-License-Identifier: GPL-2.0-only
#
# ArmChina NPU driver
#

config ARMCHINA_NPU
	tristate "ArmChina NPU"
	help
	  Enables driver for ArmChina's AI Accelerator which is designed for
	  the acceleration of AI inference tasks on Arm SoC.

	  The driver manages the NPU char device and provides IOCTL interface for
	  the user to submit workloads to the NPU cores.

	  If unsure, say N.
